@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.cabeçalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1b1515;
}

.cabeçalho a{
    background: none;
    text-decoration: none;
    padding-left: 10px;
}

.cabeçalho a:hover{
    background: none;
    text-decoration: none;
    padding-left: 10px;
    font-size: 20px;
    color: #009a17;
    transition: 0.3s;
}

.cabeçalho img{
    background: none;
}

.cabeçalho nav{
    background: none;
}

.principal{
    display: flex;
    height: 90vh;
    width: 100vw;
}

.gradiente{
    position: absolute;
    width: 750px;
    height: 500px;
    right: 0px;
    z-index: 1;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.principal h1{
    position: absolute;
    font-size: 60px;
    font-weight: 100;
    background: none;
    line-height: 70px;
    text-transform: uppercase;
    bottom: 320px;
    left: 50px;
    z-index: 1;
}

.principal img{
    height: 500px;
    width: 750px;
    position: absolute;
    right: 0px;
    transform: scaleX(-1);
}

.principal h2{
    position: absolute;
    background: none;
    font-size: 20px;
    font-weight: 400;
    bottom: 180px;
    left: 50px;
    z-index: 1;
}

.botao-cadastro{
    background: #009a17;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    position: absolute;
    bottom: 270px;
    left: 110px;
    z-index: 1;
}


.botao-cadastro a{
    background: #009a17;
    text-decoration: none;
    width: 150px;
    height: 35px;
}

.mpa{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b1515;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.mpa-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 20px;
    padding: 20px;
    background: #1b1515;
}

.mpa-img h2{
    margin: 0px;
    background: #1b1515;
}

.mpa-img h3{
    margin-left: 20px;
    text-decoration: underline #009a17 3px;
    background: #1b1515;
    margin-bottom: 10px;
}

.mpa-img img{
    width: 100%;
    border-radius: 15px;
    border: 2px solid #009a17;
}

.mpa-texto{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background: #1b1515;
}

.mpa-texto p{
    width: 60%;
    background: #1b1515;
}

.botao-vm{
    background: #009a17;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}

.botao-vm a{
    background: #009a17;
    text-decoration: none;
}

footer{
    position: relative;
}

.pb{
    display: flex;
    justify-content: space-around;
    background: #1b1515;
}

.cl{
    display: flex;
    width: 100%;
    background: #1b1515;
    padding: 10px;
    justify-content: center;
}

.cl img{
    height: 100px;
    background: none;
}

.redes img{
    margin: 10px;
    width: 40px;
    background: none;
}

.redes{
    display: flex;
    justify-content: space-around;
    background: none;
    width: 70%;
}

.sp1{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.sp1 p{
    background: none;
}

.sp2{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.sp2 p{
    background: none;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
}

.cont img{
    width: 30px;
    margin: 10px;
    background: none;
}

.p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
}

.sp3{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.sp3 p{
    background: none;
}

.pag img{
    width: 50px;
    margin: 10px;
    background: none;
}

.pag{
    background: none;
}

#copy{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: none;
    color: #d3d3d3;
}