@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.cabeçalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1b1515;
}

.cabeçalho a{
    background: none;
    text-decoration: none;
    padding-left: 10px;
}

.cabeçalho a:hover{
    background: none;
    text-decoration: none;
    padding-left: 10px;
    font-size: 20px;
    color: #009a17;
    transition: 0.3s;
}

.cabeçalho img{
    background: none;
}

.cabeçalho nav{
    background: none;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.titulo p{
    color: #ffffff;
}

.imagem{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.horas{
    display: flex;
    flex-direction: column;
    background: none;
    position: absolute;
}

.caixa{
    background: #ffffff;
    border-radius: 20px;
    border: #009a17 solid 3px;
    width: 350px;
    height: 130px;
    padding: 10px;
}

.caixa h2, p{
    background: none;
    color: #000000;
}

.sep2{
    background: none;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100vw;
    justify-content: space-around;
}

.sep1{
    background: none;
    display: flex;
    justify-content: center;
}

footer{
    position: relative;
}

.pb{
    display: flex;
    justify-content: space-around;
    background: #1b1515;
}

.cl{
    display: flex;
    width: 100%;
    background: #1b1515;
    padding: 10px;
    justify-content: center;
}

.cl img{
    height: 100px;
    background: none;
}

.redes img{
    margin: 10px;
    width: 40px;
    background: none;
}

.redes{
    display: flex;
    justify-content: space-around;
    background: none;
    width: 70%;
}

.sp1{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.sp1 p{
    background: none;
    color: #ffffff;
}

.sp2{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.sp2 p{
    background: none;
    color: #ffffff;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
}

.cont img{
    width: 30px;
    margin: 10px;
    background: none;
}

.p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
}

.sp3{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.sp3 p{
    background: none;
    color: #ffffff;
}

.pag img{
    width: 50px;
    margin: 10px;
    background: none;
}

.pag{
    background: none;
}

#copy{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: none;
    color: #d3d3d3;
}